@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
/* Shared style */

:root{
    --primary-color:#131313;
    --second-color:#727272;
    --orange-color:rgba(255, 144, 14, 1);

}
.display-flex{
    display: flex;
}

.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}


/* Navber */
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}
/* .header {
  
} */
.nav-items{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
text-decoration: none;
font-weight: 500;


}
.navber, .bannar{
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
   margin: 0 auto;
 
   
}

/* bannar-content */

.bannar-content{
    max-width: 569px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bannar-image{
    width: 100%;
   
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
    margin-top: 30px;
}

.primary-btn{
    background-color: var(--orange-color);
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

main{
    max-width: 960px;
    margin: 0 auto;
}
main >section{
    margin-top: 100px;
}
.teams {
    align-items: center;
}
.team-imag-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 14px;
}
.team-imag-container img{
    width: 100%;
}
.our-features{
    margin-left: 100px;
    max-width: 355px;
}

/* Fact */
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 200px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
    gap: 24px;
}
.fact-number{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top:5px ;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}
.text-desc{
    max-width: 300px;
    margin-bottom: 40px;
  
}
/* responsive */

@media screen and (max-width:576px){
    .navber , 
    .nav-link, 
    .teams{
        flex-direction: column;
    }
    .team-imag-containerz, .fact-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    .fact-container{
       justify-items: center;
       gap: 24px;
    }
    
    .our-features{
        margin-left: 20px;
    }
    .text-desc{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .section-title{
        margin: 0 auto;
        text-align: center;
    }
   
}

@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }
  .team-imag-container{
    grid-template-columns: repeat(2,1fr);
  }
    .fact-container{
       
        grid-template-columns: repeat(2, 1fr);
       justify-items: center;
        gap: 10px;
     
    }
    .our-features{
      margin: 50px auto;
    }
    .text-desc{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

     .section-title{
        margin: 0 auto;
        text-align: center;
    }
   
}